<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Books - BookStore Admin')"/>
<body>

<div th:replace="navigation :: menu"></div>

<section class="content">

  <header class="top-head container-fluid">
    <div type="button" class="navbar-toggle">
      <i class="fas fa-bars"></i>
    </div>

  </header>
  <!-- Header Ends -->


  <div class="warper container-fluid">

    <div>
      <h2>Manage Books</h2>

      <a th:href="@{/books/new}" class="fas fa-folder-plus fa-2x icon-dark mr-2"></a>

    </div>

    <div th:if="${message != null}" class="alert alert-success text-center">
      [[${message}]]
    </div>

    <div>
      <form th:action="@{/books/page/1}" class="form-inline m-3">
        <input type="hidden" name="sortField" th:value="${sortField}"/>
        <input type="hidden" name="sortDir" th:value="${sortDir}"/>
        Filter:&nbsp;
        <input type="search" name="keyword" th:value="${keyword}" class="form-control" required/>
        &nbsp;&nbsp;
        <button type="submit" class="btn btn-primary">
          <i class="fas fa-search"></i>
        </button>
        &nbsp;&nbsp;
        <button type="button" class="btn btn-secondary" onclick="clearFilter()">
          <i class="fas fa-eraser"></i>
        </button>
      </form>
    </div>

    <div class="full-details">
      <table class="table table-bordered table-striped table-hover table-responsive-xl">
        <thead class="thead-dark">
        <tr>
          <th th:replace="fragments :: column_link('/books', 'id', 'Book ID', 'none')" />
          <th>Image</th>
          <th th:replace="fragments :: column_link('/books', 'title', 'Title', 'none')" />
          <th th:replace="fragments :: column_link('/books', 'author', 'Author', 'none')" />
          <th th:replace="fragments :: column_link('/books', 'category.name', 'Category', 'none')" />
          <th>Price</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${listBooks}">
          <td>[[${book.id}]]</td>
          <td>
            <div th:replace="fragments :: book_images"/>
          </td>
          <td>[[${book.title}]]</td>
          <td>[[${book.author}]]</td>
          <td>[[${book.category.name}]]</td>
          <td>[[${book.price}]]</td>
          <td>
            <div th:replace="fragments :: book_actions"/>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div th:replace="fragments :: pagination('/books', 'books')"></div>
  </div>

  <div style="height: 100px;"></div>

  <div th:replace="modal_fragments :: confirm_modal"/>

  <div th:replace="fragments :: footer"></div>
</section>
</body>
<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
  moduleURL = "[[@{/books}]]";

  $(document).ready(function () {
    $(".link-delete").on("click", function (e) {
      e.preventDefault();
      showDeleteConfirmModal($(this), 'book');
    });
  });
</script>
</html>