<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">

    <title>Home - BookShop Admin</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/custom.js}"></script>
</head>
<body>

<aside class="left-panel">

    <div class="user text-center">
        <img th:src="@{/images/user5.png}" class="img-circle" alt="...">
        <h4 class="user-name mt-1">Akshay Kumar</h4>

        <div class="dropdown user-login">
            <button class="btn btn-xs dropdown-toggle btn-rounded" type="button" data-toggle="dropdown"
                    aria-expanded="true">
                Admin
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" href="#"><i class="fa fa-circle status-icon signout"></i>
                    Sign out</a></li>
            </ul>
        </div>
    </div>


    <nav class="navigation">
        <ul class="list-unstyled">
            <li class="active">
                <a th:href="@{/}"><i class="fas fa-home"></i><span class="nav-label">Home</span></a>
            </li>
            <li class="has-submenu">
                <a th:href="@{/users}"><i class="fas fa-user-tie"></i> <span class="nav-label">Users</span></a>
            </li>
            <li class="has-submenu">
                <a href="#"><i class="fas fa-bars"></i> <span class="nav-label">Categories</span></a>
            </li>
            <li class="has-submenu">
                <a href="#"><i class="fas fa-book"></i> <span class="nav-label">Books</span></a>
            </li>
        </ul>
    </nav>

</aside>
<!-- Aside Ends-->

<section class="content">

    <header class="top-head container-fluid">
        <div type="button" class="navbar-toggle">
            <i class="fas fa-bars"></i>
        </div>

    </header>
    <!-- Header Ends -->


    <div class="warper container-fluid">
        <div>
            <h2>Manage Users</h2>
            <a th:href="@{/users/new}">Create New User</a>
        </div>

        <div th:if="${message != null}" class="alert alert-success text-center">
            [[${message}]]
        </div>
        <div>
            <table class="table table-bordered table-striped table-hover table-responsive-xl">
                <thead class="thead-dark">
                <tr>
                    <th>User ID</th>
                    <th>Photos</th>
                    <th>E-mail</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Roles</th>
                    <th>Enabled</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${listUsers}">
                    <td>[[${user.id}]]</td>
                    <td>
                        <span th:if="${user.photos == null}" class="fas fa-portrait fa-3x icon-silver"></span>
                        <img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}"
                             style="width: 100px" />
                    </td>
                    <td>[[${user.email}]]</td>
                    <td>[[${user.firstName}]]</td>
                    <td>[[${user.lastName}]]</td>
                    <td>[[${user.roles}]]</td>
                    <td>
                        <a th:if="${user.enabled == true}" class="fas fa-check-circle fa-2x icon-green"
                           th:href="@{'/users/' + ${user.id} + '/enabled/false'}"
                           title="Disable this user"
                        ></a>

                        <a th:if="${user.enabled == false}" class="fas fa-circle fa-2x icon-dark"
                           th:href="@{'/users/' + ${user.id} + '/enabled/true'}"
                           title="Enable this user"
                        ></a>
                    </td>

                    <td>
                        <a class="fas fa-edit fa-2x icon-green" th:href="@{'/users/edit/' + ${user.id}}"
                           title="Edit this user"></a>
                        &nbsp;
                        <a class="fas fa-trash fa-2x icon-dark link-delete"
                           th:href="@{'/users/delete/' + ${user.id}}"
                           th:userId="${user.id}"
                           title="Delete this user"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="text-center m-1" th:if="${totalItems > 0}">
            <span>Showing users # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
        </div>
        <div class="text-center m-1" th:unless="${totalItems > 0}">
            <span>No users found</span>
        </div>

        <div>
            <nav>
                <ul class="pagination justify-content-center">
                    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                        <a class="page-link" th:href="@{/users/page/1}">First</a>
                    </li>
                    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                        <a class="page-link" th:href="@{'/users/page/' + ${currentPage - 1}}">Previous</a>
                    </li>

                    <li th:class="${currentPage != i ? 'page-item': 'page-item active'}"
                        th:each="i : ${#numbers.sequence(1, totalPages)}">
                        <a class="page-link" th:href="@{'/users/page/' + ${i}}">[[${i}]]</a>
                    </li>


                    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                        <a class="page-link" th:href="@{'/users/page/' + ${currentPage + 1}}">Next</a>
                    </li>

                    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                        <a class="page-link" th:href="@{'/users/page/' + ${totalPages}}">Last</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- Warper Ends Here (working area) -->
    <div style="height: 100px;">

    </div>

    <div class="modal fade text-center" id="confirmModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Confirmation</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <span id="confirmText"></span>
                </div>

                <div class="modal-footer">
                    <a class="btn btn-success" href="" id="yesButton">Yes</a>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>


    <footer class="container-fluid footer">
        Copyright &copy; 2021 BookShop Control Panel</a>
    </footer>
</section>
<!-- Content Block Ends Here (right box)-->

</body>
<script type="text/javascript">
    $(document).ready(function() {
        $(".link-delete").on("click", function(e) {
            e.preventDefault();
            link = $(this);
            //alert($(this).attr("href"));
            userId = link.attr("userId");
            $("#yesButton").attr("href", link.attr("href"));
            $("#confirmText").text("Are you sure you want to delete this user ID " + userId + "?");
            $("#confirmModal").modal();
        });
    });
</script>
</html>