<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">

    <title>Home - BookShop Admin</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/custom.js}"></script>
</head>
<body>

<aside class="left-panel">
    <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
        <input type="submit" />
    </form>
    <div class="user text-center">
        <img th:src="@{${#authentication.getPrincipal().fullImage}}" class="img-circle" alt="...">
        <h4 class="user-name mt-1" sec:authentication="principal.fullname"></h4>

        <div class="user-login">
            <a href="" id="logoutLink" class="btn btn-xs btn-rounded" type="button">
                Sign out
            </a>
        </div>
    </div>


    <nav class="navigation">
        <ul class="list-unstyled">
            <li class="active">
                <a th:href="@{/}"><i class="fas fa-home"></i><span class="nav-label">Home</span></a>
            </li>
            <li class="has-submenu">
                <a th:href="@{/users}"><i class="fas fa-user-tie"></i> <span class="nav-label">Users</span></a>
            </li>
            <li class="has-submenu">
                <a th:href="@{/categories}"><i class="fas fa-bars"></i> <span class="nav-label">Categories</span></a>
            </li>
            <li class="has-submenu">
                <a th:href="@{/books}"><i class="fas fa-book"></i> <span class="nav-label">Books</span></a>
            </li>
        </ul>
    </nav>

</aside>
<!-- Aside Ends-->

<section class="content">

    <header class="top-head container-fluid">
        <div type="button" class="navbar-toggle">
            <i class="fas fa-bars"></i>
        </div>

    </header>
    <!-- Header Ends -->


    <div class="warper container-fluid">
        <div class="text-center alert alert-dark">
            <h1 class="display-4">Book Shop Website with Spring Boot MVC</h1>
        </div>
        <div class="jumbotron">
            <h5>Learn about:</h5>
            <ul>
                <li>
                    <p>Spring Boot MVC</p>
                </li>
                <li>
                    <p>Spring Data JPA</p>
                </li>
                <li>
                    <p>Hibernate Core</p>
                </li>
                <li>
                    <p>Hibernate Validation</p>
                </li>
                <li>
                    <p>Dependency Injection</p>
                </li>
                <li>
                    <p>Repository Pattern</p>
                </li>
                <li>
                    <p>Spring Security</p>
                </li>
                <li>
                    <p>Bootstrap 4 and Jquery 3.4</p>
                </li>
                <li>
                    <p>MySQL Workbench</p>
                </li>
            </ul>
        </div>

    </div>
    <!-- Warper Ends Here (working area) -->
    <div style="height: 100px;">

    </div>

    <footer class="container-fluid footer">
        Copyright &copy; 2021 BookShop Control Panel</a>
    </footer>


</section>
<!-- Content Block Ends Here (right box)-->
</body>

<script type="text/javascript">
    $(document).ready(function() {
        $("#logoutLink").on("click", function(e) {
            e.preventDefault();
            document.logoutForm.submit();
        });
    });
</script>
</html>