<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: page_head('Home - BookStore Admin')" />
<body>

<div th:replace="navigation :: menu"></div>

<section class="content">

    <header class="top-head container-fluid">
        <div type="button" class="navbar-toggle">
            <i class="fas fa-bars"></i>
        </div>

    </header>
    <!-- Header Ends -->


    <div class="warper container-fluid">
        <div class="text-center alert alert-dark">
            <h1 class="display-4">Book Shop Website with Spring Boot MVC</h1>
        </div>
        <div class="jumbotron">
            <h5>Learn about:</h5>
            <ul>
                <li>
                    <p>Spring Boot MVC</p>
                </li>
                <li>
                    <p>Spring Data JPA</p>
                </li>
                <li>
                    <p>Hibernate Core</p>
                </li>
                <li>
                    <p>Hibernate Validation</p>
                </li>
                <li>
                    <p>Dependency Injection</p>
                </li>
                <li>
                    <p>Repository Pattern</p>
                </li>
                <li>
                    <p>Spring Security</p>
                </li>
                <li>
                    <p>Bootstrap 4 and Jquery 3.4</p>
                </li>
                <li>
                    <p>MySQL Workbench</p>
                </li>
            </ul>
        </div>

    </div>
    <!-- Warper Ends Here (working area) -->
    <div style="height: 100px;">

    </div>

    <div th:replace="fragments :: footer"></div>


</section>
<!-- Content Block Ends Here (right box)-->
</body>

</html>